* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

footer,
footer,
nav,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

ul li {
  list-style: none;
}

body {
  max-width: 1900px;
  margin: 0 auto;
  padding: 48px 50px;
}

@font-face {
  font-family: "OpenSans-Light";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald-Light";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald-Regular";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald-Medium";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald-Bold";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
}

.head {
  margin: 0 auto;
  padding-top: 74px;
  padding-bottom: 19px;
  background: url("../img/head-bg.png") no-repeat;
}

.head__nav {
  margin: 0 254px 0 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__logo {
  display: inline-block;
  width: 97px;
  height: 30px;
}

.head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__item {
  margin-right: 58px;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 1.94px;
  font-family: "Oswald-Regular", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
}

.head__text {
  margin-top: 279px;
  text-align: center;
}

.head__title {
  font-size: 72px;
  line-height: 107px;
  letter-spacing: 4.608px;
  font-family: "Oswald-Medium", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
}

.head__para {
  margin-top: 24px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1.28px;
  font-family: "OpenSans-Regular", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
}

.head__controls {
  margin: 303px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.head__btn {
  margin-right: 9px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.15px;
  font-family: "Oswald-Bold", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

.head__btn--active {
  padding-bottom: 9px;
  font-size: 36px;
}

.promo {
  padding: 149px 303px 80px 315px;
  background: url(../img/promo-bg-1.png) 508px 149px no-repeat, url(../img/promo-bg-2.png) 718px 211px no-repeat, url(../img/promo-bg-3.png) 928px 317px no-repeat;
}

.promo__title {
  margin-top: 77px;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 2.304px;
  font-family: "Oswald-Bold", "Arial", "Helvetica", sans-serif;
}

.promo__headline {
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 2.688px;
  font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
}

.promo__para {
  width: 311px;
  margin: 32px 0 0 21px;
  padding-left: 30px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.26px;
  font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
}

.promo__aside {
  width: 311px;
  margin: 110px 0 0 871px;
  padding-left: 30px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.26px;
  font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
}

.services {
  margin: 117px 0 0 0;
  padding: 135px 312px 136px 315px;
  background-color: #fbfbfb;
}

.services__title {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 3.072px;
  font-family: "Oswald-Bold", "Arial", "Helvetica", sans-serif;
  color: #252525;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  width: 373px;
  padding: 53px 48px 35px 44px;
}

.services__headline {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.28px;
  font-family: "Oswald-Light", "Arial", "Helvetica", sans-serif;
  color: #252525;
}

.services__headline::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  right: 0;
  -webkit-box-shadow: 0px 0px 20px #dbdbdb;
          box-shadow: 0px 0px 20px #dbdbdb;
  border-radius: 50px;
}

.services__headline--brand::after {
  background: url("../img/icon-branding.svg") 50% no-repeat;
}

.services__headline--des::after {
  background: url("../img/icon-design.svg") 50% no-repeat;
}

.services__headline--dev::after {
  background: url("../img/icon-dev.svg") 50% no-repeat;
}

.services__para {
  margin-top: 19px;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1.008px;
  font-family: "OpenSans-Regular", "Arial", "Helvetica", sans-serif;
  color: #777777;
}

.services__link {
  display: inline-block;
  margin: 19px 0 0;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.64px;
  font-family: "Oswald-Light", "Arial", "Helvetica", sans-serif;
  color: #252525;
}

.works {
  margin: 174px 0 0 0;
  padding: 0 306px 0 309px;
}

.works__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[12];
      grid-template-rows: repeat(12, auto);
  gap: 5px;
}

.works__text {
  width: 598px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.works__title {
  font-size: 48px;
  line-height: 71px;
  font-family: "Oswald-Bold", "Arial", "Helvetica", sans-serif;
  letter-spacing: 3.072px;
  color: #252525;
}

.works__nav {
  margin-top: 51px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  margin-right: 40px;
}

.works__item:last-child {
  margin-right: 39px;
}

.works__link {
  font-size: 13px;
  line-height: 18px;
  font-family: "OpenSans-SemiBold", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.832px;
  color: #252525;
}

.works__photo {
  width: 583px;
  position: relative;
}

.works__photo:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6;
}

.works__photo:nth-child(3) {
  margin-top: 161px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
}

.works__photo:nth-child(4) {
  margin-top: 177px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6 / 11;
}

.works__photo:nth-child(5) {
  margin-top: 137px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9 / 13;
}

.works__photo:nth-child(even) .works__headline {
  position: absolute;
  top: 262px;
  left: 0;
  right: 176px;
}

.works__photo:nth-child(even) .works__caption {
  margin-right: 125px;
  text-align: right;
}

.works__photo:nth-child(even) .works__para {
  margin-right: 125px;
  margin-left: 120px;
  text-align: right;
}

.works__photo:nth-child(even) .works__img {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.works__photo:nth-child(odd) .works__headline {
  position: absolute;
  top: 266px;
  left: 343px;
}

.works__photo:nth-child(odd) .works__caption {
  margin-left: 174px;
}

.works__photo:nth-child(odd) .works__para {
  margin-right: 128px;
  margin-left: 174px;
}

.works__headline {
  font-size: 48px;
  line-height: 71px;
  font-family: "Oswald-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 3.072px;
  color: #252525;
}

.works__caption {
  margin-top: 23px;
  font-size: 18px;
  line-height: 25px;
  font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 1.152px;
  color: #252525;
}

.works__para {
  margin-top: 24px;
  font-size: 13px;
  line-height: 23px;
  font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.832px;
  color: #c2c2c2;
}

.works__ref {
  display: inline-block;
  margin-right: 0;
  margin-left: auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12 / 13;
  font-size: 13px;
  line-height: 18px;
  font-family: "Oswald-Regular", "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  color: #252525;
}

.team {
  margin-top: 174px;
  padding: 0 310px 167px 315px;
}

.team__title {
  font-size: 48px;
  line-height: 71px;
  font-family: "Oswald-Bold", "Arial", "Helvetica", sans-serif;
  letter-spacing: 3.072px;
  color: #252525;
}

.team__list {
  margin-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__fig {
  position: relative;
}

.team__para {
  display: none;
}

.team__para--hover {
  margin-top: 17px;
  font-size: 18px;
  line-height: 27px;
  text-transform: none;
  font-family: "Oswald-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 1.152px;
  color: #252525;
}

.team__para--sign {
  margin-top: 12px;
  font-size: 12px;
  line-height: 25px;
  text-transform: none;
  font-family: "OpenSans-Regular", "Arial", "Helvetica", sans-serif;
  letter-spacing: 1.008px;
  color: #777777;
}

.team__capture {
  width: 100%;
  padding: 13px 0 15px;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 1.152px;
  color: #252525;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.team__capture:hover {
  padding: 19px 0 30px;
  background: #ffffff;
  opacity: 0.92;
}

.team__capture:hover .team__para {
  display: block;
}

.reviews {
  padding: 117px 314px 117px;
}

.reviews__wrap {
  padding: 0 218px;
  text-align: center;
}

.reviews__para {
  display: block;
  padding-bottom: 80px;
  position: relative;
  font-size: 14px;
  line-height: 31px;
  font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.896px;
  color: #373737;
}

.reviews__para::before {
  content: "";
  position: absolute;
  top: 72%;
  left: calc(50% - 20px);
  width: 20px;
  height: 20px;
  background: url("../img/icon-quote.svg") no-repeat;
}

.reviews__name {
  display: block;
  padding-bottom: 38px;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  font-family: "Oswald-Regular", "Arial", "Helvetica", sans-serif;
  letter-spacing: 1.152px;
  color: #373737;
  background: url("../img/reviews-reiting.png") center bottom no-repeat;
}

.reviews__span {
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  font-family: "Oswald-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.896px;
  color: #b8b8b8;
}

.reviews__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__btn {
  width: 20px;
  height: 20px;
  font-size: 0px;
  line-height: 0;
}

.reviews__btn--back {
  background: url("../img/icon-arrow.svg") center no-repeat, #ffffff;
}

.reviews__btn--next {
  background: url("../img/icon-arrow.svg") center no-repeat, #ffffff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__item {
  width: 50%;
  padding: 123px 0 100px;
  text-align: center;
}

.feedback__item--work {
  background: url("../img/icon-brief.svg") center 69px no-repeat, #fbfbfb;
}

.feedback__item--contact {
  background: url("../img/icon-mail.svg") center 72px no-repeat, #70bd59;
}

.feedback__title {
  font-size: 24px;
  line-height: 36px;
  font-family: "Oswald-Regular", "Arial", "Helvetica", sans-serif;
  letter-spacing: 2.66667px;
  color: #373737;
}

.feedback__para {
  padding-top: 22px;
  font-size: 14px;
  line-height: 19px;
  font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
  letter-spacing: 1.55556px;
  color: #373737;
}
