.promo {
	padding: 149px 303px 80px 315px;
	background: url(../img/promo-bg-1.png) 508px 149px no-repeat, url(../img/promo-bg-2.png) 718px 211px no-repeat,
		url(../img/promo-bg-3.png) 928px 317px no-repeat;
}

.promo__title {
	margin-top: 77px;
	font-size: 36px;
	line-height: 53px;
	letter-spacing: 2.304px;
	font-family: "Oswald-Bold", "Arial", "Helvetica", sans-serif;
}

.promo__headline {
	font-size: 42px;
	line-height: 57px;
	letter-spacing: 2.688px;
	font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;
}

.promo__para {
	position: relative;
	width: 311px;
	margin: 32px 0 0 21px;
	padding-left: 30px;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1.26px;
	font-family: "OpenSans-Light", "Arial", "Helvetica", sans-serif;

	&::after {
		content: "";
		position: absolute;
		top: 14px;
		left: 0;
		width: 20px;
		height: 2px;
		background: #353535;
	}

	&--aside {
		margin: 110px 0 0 871px;
	}
}
