* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:focus,
a:active {
	outline: none;
}

a:hover {
	text-decoration: none;
}

footer,
footer,
nav,
aside {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	line-height: 1;
	overflow-x: hidden;
}
button {
	padding: 0;
	border: 0;
	cursor: pointer;
}

ul li {
	list-style: none;
}

body {
	max-width: 1900px;
	margin: 0 auto;
	padding: 48px 50px;
}

@font-face {
	font-family: "OpenSans-Light";
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
	font-family: "OpenSans-Regular";
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "OpenSans-SemiBold";
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald-Light";
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald-Regular";
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald-Medium";
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald-Bold";
	font-weight: bold;
	font-style: bold;
	font-display: swap;
	src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
}
